# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 25.4 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 19.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [2]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://zodandeska:********@deska.9npem.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}),
    InsertOne({'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology'}),
    InsertOne({'course': 'Chemistry 104', 'enrollments': 22, 'department': 'Chemistry'}),
    InsertOne({'course': 'Art 105', 'enrollments': 28, 'department': 'Arts'}),
    InsertOne({'course': 'Literature 106', 'enrollments': 18, 'department': 'Literature'}),
    InsertOne({'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

#READ
for course in courses_collection.find({'enrollments': {'$gt': 25}}):
    print(course)

#UPDATE
update_result = courses_collection.update_one(
    {'course': 'CS 102'},
    {'$set': {'enrollments': 30}}
)
print(f'Modified count: {update_result.modified_count}')

#DELETE
delete_result = courses_collection.delete_one({'course': 'History 201'})
print(f'Deleted count: {delete_result.deleted_count}')

Courses inserted successfully.
{'_id': ObjectId('67327e36687dd24563f47927'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('67327e36687dd24563f47928'), 'course': 'CS 102', 'enrollments': 30, 'department': 'Computer Science'}
{'_id': ObjectId('67328190687dd24563f4792c'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('67328190687dd24563f47930'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology'}
{'_id': ObjectId('67328190687dd24563f47932'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts'}
{'_id': ObjectId('67328190687dd24563f47934'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering'}
{'_id': ObjectId('6732a3eb44c28c825a7472a8'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732a3eb44c28c825a7472ac'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology'}
{'_id': ObjectId('6732a3eb44c28c825a7472ae'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts'}
{'_id': ObjectId('6732a3eb44c28c825a7472b0'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering'}
{'_id': ObjectId('6732a92744c28c825a7472b2'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732a92744c28c825a7472b6'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology'}
{'_id': ObjectId('6732a92744c28c825a7472b8'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts'}
{'_id': ObjectId('6732a92744c28c825a7472ba'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering'}
{'_id': ObjectId('6732a9ea44c28c825a7472bc'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732a9ea44c28c825a7472c0'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology'}
{'_id': ObjectId('6732a9ea44c28c825a7472c2'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts'}
{'_id': ObjectId('6732a9ea44c28c825a7472c4'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering'}
{'_id': ObjectId('67333f65daae9548c70b313b'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('67333f65daae9548c70b313f'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology'}
{'_id': ObjectId('67333f65daae9548c70b3141'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts'}
{'_id': ObjectId('67333f65daae9548c70b3143'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering'}
Modified count: 0
Deleted count: 1

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [3]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('67327e36687dd24563f47927'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('67327e36687dd24563f47928'), 'course': 'CS 102', 'enrollments': 30, 'department': 'Computer Science'}
{'_id': ObjectId('67328190687dd24563f4792c'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('67328190687dd24563f4792d'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('67328190687dd24563f47930'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology'}
{'_id': ObjectId('67328190687dd24563f47931'), 'course': 'Chemistry 104', 'enrollments': 22, 'department': 'Chemistry'}
{'_id': ObjectId('67328190687dd24563f47932'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts'}
{'_id': ObjectId('67328190687dd24563f47934'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering'}
{'_id': ObjectId('6732a3eb44c28c825a7472a8'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732a3eb44c28c825a7472a9'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('6732a3eb44c28c825a7472ac'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology'}
{'_id': ObjectId('6732a3eb44c28c825a7472ad'), 'course': 'Chemistry 104', 'enrollments': 22, 'department': 'Chemistry'}
{'_id': ObjectId('6732a3eb44c28c825a7472ae'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts'}
{'_id': ObjectId('6732a3eb44c28c825a7472b0'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering'}
{'_id': ObjectId('6732a92744c28c825a7472b2'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732a92744c28c825a7472b3'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('6732a92744c28c825a7472b6'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology'}
{'_id': ObjectId('6732a92744c28c825a7472b7'), 'course': 'Chemistry 104', 'enrollments': 22, 'department': 'Chemistry'}
{'_id': ObjectId('6732a92744c28c825a7472b8'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts'}
{'_id': ObjectId('6732a92744c28c825a7472ba'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering'}
{'_id': ObjectId('6732a9ea44c28c825a7472bc'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732a9ea44c28c825a7472bd'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('6732a9ea44c28c825a7472c0'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology'}
{'_id': ObjectId('6732a9ea44c28c825a7472c1'), 'course': 'Chemistry 104', 'enrollments': 22, 'department': 'Chemistry'}
{'_id': ObjectId('6732a9ea44c28c825a7472c2'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts'}
{'_id': ObjectId('6732a9ea44c28c825a7472c4'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering'}
{'_id': ObjectId('67333f65daae9548c70b313b'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('67333f65daae9548c70b313c'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('67333f65daae9548c70b313f'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology'}
{'_id': ObjectId('67333f65daae9548c70b3140'), 'course': 'Chemistry 104', 'enrollments': 22, 'department': 'Chemistry'}
{'_id': ObjectId('67333f65daae9548c70b3141'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts'}
{'_id': ObjectId('67333f65daae9548c70b3143'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering'}

In [4]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('67327e36687dd24563f47927'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('67327e36687dd24563f47928'), 'course': 'CS 102', 'enrollments': 30, 'department': 'Computer Science'}
{'_id': ObjectId('67328190687dd24563f4792c'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('67328190687dd24563f4792d'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('6732a3eb44c28c825a7472a8'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732a3eb44c28c825a7472a9'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('6732a92744c28c825a7472b2'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732a92744c28c825a7472b3'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('6732a9ea44c28c825a7472bc'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6732a9ea44c28c825a7472bd'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('67333f65daae9548c70b313b'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('67333f65daae9548c70b313c'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [5]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Engineering', 'average_enrollment': 40.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Computer Science', 'average_enrollment': 25.833333333333332}
{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Biology', 'average_enrollment': 35.0}
{'_id': 'Chemistry', 'average_enrollment': 22.0}
{'_id': 'Arts', 'average_enrollment': 28.0}
{'_id': 'Literature', 'average_enrollment': 18.0}
{'_id': 'Physics', 'average_enrollment': 15.0}

In [6]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Chemistry', 'max_enrollment': 22}
{'_id': 'Computer Science', 'max_enrollment': 30}
{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Arts', 'max_enrollment': 28}
{'_id': 'Literature', 'max_enrollment': 18}
{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'Engineering', 'max_enrollment': 40}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Biology', 'max_enrollment': 35}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [7]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('67327e36687dd24563f47927'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('67327e36687dd24563f47928'), 'enrollments': 30, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('67327e36687dd24563f4792a'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('67328190687dd24563f4792c'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('67328190687dd24563f4792d'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('67328190687dd24563f4792f'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('67328190687dd24563f47930'), 'enrollments': 35, 'course_name': 'Biology 103', 'department_name': 'Biology'}
{'_id': ObjectId('67328190687dd24563f47931'), 'enrollments': 22, 'course_name': 'Chemistry 104', 'department_name': 'Chemistry'}
{'_id': ObjectId('67328190687dd24563f47932'), 'enrollments': 28, 'course_name': 'Art 105', 'department_name': 'Arts'}
{'_id': ObjectId('67328190687dd24563f47933'), 'enrollments': 18, 'course_name': 'Literature 106', 'department_name': 'Literature'}
{'_id': ObjectId('67328190687dd24563f47934'), 'enrollments': 40, 'course_name': 'Engineering 107', 'department_name': 'Engineering'}
{'_id': ObjectId('6732a3eb44c28c825a7472a8'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('6732a3eb44c28c825a7472a9'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('6732a3eb44c28c825a7472aa'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('6732a3eb44c28c825a7472ab'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('6732a3eb44c28c825a7472ac'), 'enrollments': 35, 'course_name': 'Biology 103', 'department_name': 'Biology'}
{'_id': ObjectId('6732a3eb44c28c825a7472ad'), 'enrollments': 22, 'course_name': 'Chemistry 104', 'department_name': 'Chemistry'}
{'_id': ObjectId('6732a3eb44c28c825a7472ae'), 'enrollments': 28, 'course_name': 'Art 105', 'department_name': 'Arts'}
{'_id': ObjectId('6732a3eb44c28c825a7472af'), 'enrollments': 18, 'course_name': 'Literature 106', 'department_name': 'Literature'}
{'_id': ObjectId('6732a3eb44c28c825a7472b0'), 'enrollments': 40, 'course_name': 'Engineering 107', 'department_name': 'Engineering'}
{'_id': ObjectId('6732a92744c28c825a7472b2'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('6732a92744c28c825a7472b3'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('6732a92744c28c825a7472b4'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('6732a92744c28c825a7472b5'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('6732a92744c28c825a7472b6'), 'enrollments': 35, 'course_name': 'Biology 103', 'department_name': 'Biology'}
{'_id': ObjectId('6732a92744c28c825a7472b7'), 'enrollments': 22, 'course_name': 'Chemistry 104', 'department_name': 'Chemistry'}
{'_id': ObjectId('6732a92744c28c825a7472b8'), 'enrollments': 28, 'course_name': 'Art 105', 'department_name': 'Arts'}
{'_id': ObjectId('6732a92744c28c825a7472b9'), 'enrollments': 18, 'course_name': 'Literature 106', 'department_name': 'Literature'}
{'_id': ObjectId('6732a92744c28c825a7472ba'), 'enrollments': 40, 'course_name': 'Engineering 107', 'department_name': 'Engineering'}
{'_id': ObjectId('6732a9ea44c28c825a7472bc'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('6732a9ea44c28c825a7472bd'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('6732a9ea44c28c825a7472be'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('6732a9ea44c28c825a7472bf'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('6732a9ea44c28c825a7472c0'), 'enrollments': 35, 'course_name': 'Biology 103', 'department_name': 'Biology'}
{'_id': ObjectId('6732a9ea44c28c825a7472c1'), 'enrollments': 22, 'course_name': 'Chemistry 104', 'department_name': 'Chemistry'}
{'_id': ObjectId('6732a9ea44c28c825a7472c2'), 'enrollments': 28, 'course_name': 'Art 105', 'department_name': 'Arts'}
{'_id': ObjectId('6732a9ea44c28c825a7472c3'), 'enrollments': 18, 'course_name': 'Literature 106', 'department_name': 'Literature'}
{'_id': ObjectId('6732a9ea44c28c825a7472c4'), 'enrollments': 40, 'course_name': 'Engineering 107', 'department_name': 'Engineering'}
{'_id': ObjectId('67333f65daae9548c70b313b'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('67333f65daae9548c70b313c'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('67333f65daae9548c70b313d'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('67333f65daae9548c70b313e'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('67333f65daae9548c70b313f'), 'enrollments': 35, 'course_name': 'Biology 103', 'department_name': 'Biology'}
{'_id': ObjectId('67333f65daae9548c70b3140'), 'enrollments': 22, 'course_name': 'Chemistry 104', 'department_name': 'Chemistry'}
{'_id': ObjectId('67333f65daae9548c70b3141'), 'enrollments': 28, 'course_name': 'Art 105', 'department_name': 'Arts'}
{'_id': ObjectId('67333f65daae9548c70b3142'), 'enrollments': 18, 'course_name': 'Literature 106', 'department_name': 'Literature'}
{'_id': ObjectId('67333f65daae9548c70b3143'), 'enrollments': 40, 'course_name': 'Engineering 107', 'department_name': 'Engineering'}

In [8]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('67327e36687dd24563f47927'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('67327e36687dd24563f47928'), 'course': 'CS 102', 'enrollments': 30, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('67327e36687dd24563f4792a'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('67328190687dd24563f4792c'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('67328190687dd24563f4792d'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('67328190687dd24563f4792f'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('67328190687dd24563f47930'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology', 'enrollment_category': 'high'}
{'_id': ObjectId('67328190687dd24563f47931'), 'course': 'Chemistry 104', 'enrollments': 22, 'department': 'Chemistry', 'enrollment_category': 'high'}
{'_id': ObjectId('67328190687dd24563f47932'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts', 'enrollment_category': 'high'}
{'_id': ObjectId('67328190687dd24563f47933'), 'course': 'Literature 106', 'enrollments': 18, 'department': 'Literature', 'enrollment_category': 'low'}
{'_id': ObjectId('67328190687dd24563f47934'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a3eb44c28c825a7472a8'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a3eb44c28c825a7472a9'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a3eb44c28c825a7472aa'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('6732a3eb44c28c825a7472ab'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('6732a3eb44c28c825a7472ac'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a3eb44c28c825a7472ad'), 'course': 'Chemistry 104', 'enrollments': 22, 'department': 'Chemistry', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a3eb44c28c825a7472ae'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a3eb44c28c825a7472af'), 'course': 'Literature 106', 'enrollments': 18, 'department': 'Literature', 'enrollment_category': 'low'}
{'_id': ObjectId('6732a3eb44c28c825a7472b0'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a92744c28c825a7472b2'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a92744c28c825a7472b3'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a92744c28c825a7472b4'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('6732a92744c28c825a7472b5'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('6732a92744c28c825a7472b6'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a92744c28c825a7472b7'), 'course': 'Chemistry 104', 'enrollments': 22, 'department': 'Chemistry', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a92744c28c825a7472b8'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a92744c28c825a7472b9'), 'course': 'Literature 106', 'enrollments': 18, 'department': 'Literature', 'enrollment_category': 'low'}
{'_id': ObjectId('6732a92744c28c825a7472ba'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a9ea44c28c825a7472bc'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a9ea44c28c825a7472bd'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a9ea44c28c825a7472be'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('6732a9ea44c28c825a7472bf'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('6732a9ea44c28c825a7472c0'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a9ea44c28c825a7472c1'), 'course': 'Chemistry 104', 'enrollments': 22, 'department': 'Chemistry', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a9ea44c28c825a7472c2'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts', 'enrollment_category': 'high'}
{'_id': ObjectId('6732a9ea44c28c825a7472c3'), 'course': 'Literature 106', 'enrollments': 18, 'department': 'Literature', 'enrollment_category': 'low'}
{'_id': ObjectId('6732a9ea44c28c825a7472c4'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering', 'enrollment_category': 'high'}
{'_id': ObjectId('67333f65daae9548c70b313b'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('67333f65daae9548c70b313c'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('67333f65daae9548c70b313d'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('67333f65daae9548c70b313e'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('67333f65daae9548c70b313f'), 'course': 'Biology 103', 'enrollments': 35, 'department': 'Biology', 'enrollment_category': 'high'}
{'_id': ObjectId('67333f65daae9548c70b3140'), 'course': 'Chemistry 104', 'enrollments': 22, 'department': 'Chemistry', 'enrollment_category': 'high'}
{'_id': ObjectId('67333f65daae9548c70b3141'), 'course': 'Art 105', 'enrollments': 28, 'department': 'Arts', 'enrollment_category': 'high'}
{'_id': ObjectId('67333f65daae9548c70b3142'), 'course': 'Literature 106', 'enrollments': 18, 'department': 'Literature', 'enrollment_category': 'low'}
{'_id': ObjectId('67333f65daae9548c70b3143'), 'course': 'Engineering 107', 'enrollments': 40, 'department': 'Engineering', 'enrollment_category': 'high'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.
- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [11]:
pipeline = [{'$group': {'_id': '$department','course_count': {'$sum': 1}}}]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Biology', 'course_count': 5}
{'_id': 'Computer Science', 'course_count': 6}
{'_id': 'History', 'course_count': 4}
{'_id': 'Physics', 'course_count': 6}
{'_id': 'Engineering', 'course_count': 5}
{'_id': 'Arts', 'course_count': 5}
{'_id': 'Literature', 'course_count': 5}
{'_id': 'Chemistry', 'course_count': 5}
{'_id': 'Mathematics', 'course_count': 6}

In [12]:
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gte': 25}}},
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'course_count': 6}

In [14]:
db = client['university_db']
students_collection = db['students']
student_list = [
    InsertOne({'name': 'Ahmad Surya', 'age': 20, 'major': 'Matematika', 'enrolled_courses': ['Aljabar Linear', 'Persamaan Diferensial']}),
    InsertOne({'name': 'Budi Santoso', 'age': 22, 'major': 'Ilmu Komputer', 'enrolled_courses': ['Struktur Data', 'Pembelajaran Mesin']}),
    InsertOne({'name': 'Clara Wijaya', 'age': 21, 'major': 'Sejarah', 'enrolled_courses': ['Sejarah Kuno', 'Peradaban Dunia']}),
    InsertOne({'name': 'Dani Saputra', 'age': 23, 'major': 'Fisika', 'enrolled_courses': ['Elektromagnetik', 'Fisika Kuantum']}),
    InsertOne({'name': 'Evi Yulianti', 'age': 20, 'major': 'Matematika', 'enrolled_courses': ['Aljabar Linear', 'Persamaan Diferensial']}),
    InsertOne({'name': 'Fajar Budi', 'age': 24, 'major': 'Ilmu Komputer', 'enrolled_courses': ['Struktur Data', 'Pembelajaran Mesin']}),
    InsertOne({'name': 'Gita Prasetya', 'age': 21, 'major': 'Sejarah', 'enrolled_courses': ['Sejarah Eropa Modern', 'Peradaban Dunia']}),
    InsertOne({'name': 'Hendra Sumarno', 'age': 21, 'major': 'Fisika', 'enrolled_courses': ['Fisika Kuantum', 'Termodinamika']}),
    InsertOne({'name': 'Indah Putri', 'age': 20, 'major': 'Matematika', 'enrolled_courses': ['Persamaan Diferensial', 'Kalkulus Lanjut']}),
    InsertOne({'name': 'Joko Nugroho', 'age': 23, 'major': 'Ilmu Komputer', 'enrolled_courses': ['Pengantar Pemrograman', 'Jaringan Komputer']}),
    InsertOne({'name': 'Kartini Ayu', 'age': 22, 'major': 'Sejarah', 'enrolled_courses': ['Sejarah Kuno', 'Sejarah Eropa Modern']}),
    InsertOne({'name': 'Lukman Hakim', 'age': 22, 'major': 'Fisika', 'enrolled_courses': ['Elektromagnetik', 'Termodinamika']}),
    InsertOne({'name': 'Mira Anggraini', 'age': 20, 'major': 'Matematika', 'enrolled_courses': ['Persamaan Diferensial', 'Kalkulus Lanjut']}),
    InsertOne({'name': 'Nanda Prasetyo', 'age': 23, 'major': 'Ilmu Komputer', 'enrolled_courses': ['Pembelajaran Mesin', 'Jaringan Komputer']}),
    InsertOne({'name': 'Oni Wahyudi', 'age': 21, 'major': 'Fisika', 'enrolled_courses': ['Mekanika Klasik', 'Fisika Kuantum']}),
]

students_collection.bulk_write(student_list)
pipeline = [
    {
        "$lookup": {
            "from": "courses",
            "localField": "enrolled_courses",
            "foreignField": "course",
            "as": "course_details"
        }
    }
]

results = db.students.aggregate(pipeline)

for student in results:
    print(student)

{'_id': ObjectId('6732ad4044c28c825a7472c5'), 'student_id': 101, 'name': 'Lona', 'age': 20, 'course_details': []}
{'_id': ObjectId('6732ad4044c28c825a7472c6'), 'student_id': 102, 'name': 'Vika', 'age': 21, 'course_details': []}
{'_id': ObjectId('6732ad4044c28c825a7472c7'), 'student_id': 103, 'name': 'Kevin', 'age': 22, 'course_details': []}
{'_id': ObjectId('6732ad4044c28c825a7472c8'), 'student_id': 104, 'name': 'David', 'age': 23, 'course_details': []}
{'_id': ObjectId('6732ad4044c28c825a7472c9'), 'student_id': 105, 'name': 'Dina', 'age': 20, 'course_details': []}
{'_id': ObjectId('6732ad4044c28c825a7472ca'), 'student_id': 106, 'name': 'Fesa', 'age': 24, 'course_details': []}
{'_id': ObjectId('6732ad4044c28c825a7472cb'), 'student_id': 107, 'name': 'Grada', 'age': 21, 'course_details': []}
{'_id': ObjectId('6732ad4044c28c825a7472cc'), 'student_id': 108, 'name': 'Mona', 'age': 22, 'course_details': []}
{'_id': ObjectId('6732ad4044c28c825a7472cd'), 'student_id': 109, 'name': 'Ida', 'age': 23, 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b3144'), 'name': 'Ahmad Surya', 'age': 20, 'major': 'Matematika', 'enrolled_courses': ['Aljabar Linear', 'Persamaan Diferensial'], 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b3145'), 'name': 'Budi Santoso', 'age': 22, 'major': 'Ilmu Komputer', 'enrolled_courses': ['Struktur Data', 'Pembelajaran Mesin'], 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b3146'), 'name': 'Clara Wijaya', 'age': 21, 'major': 'Sejarah', 'enrolled_courses': ['Sejarah Kuno', 'Peradaban Dunia'], 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b3147'), 'name': 'Dani Saputra', 'age': 23, 'major': 'Fisika', 'enrolled_courses': ['Elektromagnetik', 'Fisika Kuantum'], 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b3148'), 'name': 'Evi Yulianti', 'age': 20, 'major': 'Matematika', 'enrolled_courses': ['Aljabar Linear', 'Persamaan Diferensial'], 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b3149'), 'name': 'Fajar Budi', 'age': 24, 'major': 'Ilmu Komputer', 'enrolled_courses': ['Struktur Data', 'Pembelajaran Mesin'], 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b314a'), 'name': 'Gita Prasetya', 'age': 21, 'major': 'Sejarah', 'enrolled_courses': ['Sejarah Eropa Modern', 'Peradaban Dunia'], 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b314b'), 'name': 'Hendra Sumarno', 'age': 21, 'major': 'Fisika', 'enrolled_courses': ['Fisika Kuantum', 'Termodinamika'], 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b314c'), 'name': 'Indah Putri', 'age': 20, 'major': 'Matematika', 'enrolled_courses': ['Persamaan Diferensial', 'Kalkulus Lanjut'], 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b314d'), 'name': 'Joko Nugroho', 'age': 23, 'major': 'Ilmu Komputer', 'enrolled_courses': ['Pengantar Pemrograman', 'Jaringan Komputer'], 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b314e'), 'name': 'Kartini Ayu', 'age': 22, 'major': 'Sejarah', 'enrolled_courses': ['Sejarah Kuno', 'Sejarah Eropa Modern'], 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b314f'), 'name': 'Lukman Hakim', 'age': 22, 'major': 'Fisika', 'enrolled_courses': ['Elektromagnetik', 'Termodinamika'], 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b3150'), 'name': 'Mira Anggraini', 'age': 20, 'major': 'Matematika', 'enrolled_courses': ['Persamaan Diferensial', 'Kalkulus Lanjut'], 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b3151'), 'name': 'Nanda Prasetyo', 'age': 23, 'major': 'Ilmu Komputer', 'enrolled_courses': ['Pembelajaran Mesin', 'Jaringan Komputer'], 'course_details': []}
{'_id': ObjectId('67333fe0daae9548c70b3152'), 'name': 'Oni Wahyudi', 'age': 21, 'major': 'Fisika', 'enrolled_courses': ['Mekanika Klasik', 'Fisika Kuantum'], 'course_details': []}