# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 31.6 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 28.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://zodandeska:********@deska.9npem.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [ ]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data
additional_employees = [
    {'name': 'Bobi', 'department': 'IT', 'age': 32, 'salary': 5500},
    {'name': 'Charlie', 'department': 'HR', 'age': 26, 'salary': 4000},
    {'name': 'Vika', 'department': 'Marketing', 'age': 28, 'salary': 4800}
]

collection.insert_many(additional_employees)
print('Penambahan data inserted')

#Update
collection.update_one(
    {'name': 'Alice'},
    {'$set': {'salary': 5000}}
)
print('Update data Alice')
#Delete
collection.delete_one({'name': 'Charlie'})
print('menghapus data Charlie')

Data inserted
Penambahan data inserted
Update data Alice
menghapus data Charlie

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6725f6745915bfb674e77582'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 5000}
{'_id': ObjectId('6725f6755915bfb674e77583'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5500}
{'_id': ObjectId('6725f6755915bfb674e77585'), 'name': 'Diana', 'department': 'Marketing', 'age': 28, 'salary': 4800}
{'_id': ObjectId('6725f6e45915bfb674e77586'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6725f6e45915bfb674e77587'), 'name': 'Bobi', 'department': 'IT', 'age': 32, 'salary': 5500}
{'_id': ObjectId('6725f6e45915bfb674e77589'), 'name': 'Vika', 'department': 'Marketing', 'age': 28, 'salary': 4800}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Marketing', 'average_salary': 4800.0}
{'_id': 'IT', 'average_salary': 5500.0}
{'_id': 'Finance', 'average_salary': 4750.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [ ]:
client = MongoClient('mongodb+srv://zodandeska:********@deska.9npem.mongodb.net/')
db = client['company_db']

# koleksi baru bernama 'products'
products_collection = db['products']


produk_mie = [
    {'name': 'Indomie Sedap', 'brand': 'Indomie', 'price': 3000, 'flavor': 'Goreng'},
    {'name': 'Indomie Ayam Bawang', 'brand': 'Indomie', 'price': 3000, 'flavor': 'Kuah Ayam Bawang'},
    {'name': 'Mie Sedaap Ayam Bawang', 'brand': 'Mie Sedaap', 'price': 3200, 'flavor': 'Kuah Ayam Bawang'},
    {'name': 'Indomie Goreng Rendang', 'brand': 'Indomie', 'price': 3500, 'flavor': 'Goreng Rendang'},
    {'name': 'Mie Sedaap Kari Ayam', 'brand': 'Mie Sedaap', 'price': 3300, 'flavor': 'Kuah Kari Ayam'},
    {'name': 'Supermi Ayam Bawang', 'brand': 'Supermi', 'price': 3000, 'flavor': 'Kuah Ayam Bawang'},
    {'name': 'Indomie Goreng Sambal Matah', 'brand': 'Indomie', 'price': 3500, 'flavor': 'Goreng Sambal Matah'},
    {'name': 'Sarimi Ayam Bawang', 'brand': 'Sarimi', 'price': 2800, 'flavor': 'Kuah Ayam Bawang'},
    {'name': 'Indomie Soto Mie', 'brand': 'Indomie', 'price': 3000, 'flavor': 'Kuah Soto'},
    {'name': 'Mie Sedaap Goreng Ayam', 'brand': 'Mie Sedaap', 'price': 3200, 'flavor': 'Goreng Ayam'},
    {'name': 'Indomie Kari Ayam', 'brand': 'Indomie', 'price': 3000, 'flavor': 'Kuah Kari Ayam'},
    {'name': 'Supermi Soto Ayam', 'brand': 'Supermi', 'price': 3100, 'flavor': 'Kuah Soto Ayam'}
]

# Masukkan data produk ke dalam koleksi
products_collection.insert_many(produk_mie)
print('Data produk mie')
for produk_mie in products_collection.find():
    print(produk_mie)

#query untuk menemukan produk dengan harga di atas rata-rata
average_price = products_collection.aggregate([
    {'$group': {'_id': None, 'averagePrice': {'$avg': '$price'}}}
])
average_price = list(average_price)[0]['averagePrice']
print(f"Rata-rata harga: {average_price}")

# 2. Query untuk menemukan produk dengan harga di atas rata-rata
products_above_average = products_collection.find({'price': {'$gt': average_price}})

# Cetak hasil
print("Produk dengan harga di atas rata-rata:")
for product in products_above_average:
    print(product)

#pipline
pipeline = [
    {'$group': {'_id': '$flavor', 'totalProducts': {'$sum': 1}}}
]

# Eksekusi pipeline
category_counts = products_collection.aggregate(pipeline)

# Cetak hasil
print("Total produk dalam setiap kategori flavor:")
for category in category_counts:
    print(f"Flavor: {category['_id']}, Total Produk: {category['totalProducts']}")

Data produk mie
{'_id': ObjectId('6725f80c5915bfb674e7758b'), 'name': 'Indomie Sedap', 'brand': 'Indomie', 'price': 3000, 'flavor': 'Goreng'}
{'_id': ObjectId('6725f80c5915bfb674e7758c'), 'name': 'Indomie Ayam Bawang', 'brand': 'Indomie', 'price': 3000, 'flavor': 'Kuah Ayam Bawang'}
{'_id': ObjectId('6725f80c5915bfb674e7758d'), 'name': 'Mie Sedaap Ayam Bawang', 'brand': 'Mie Sedaap', 'price': 3200, 'flavor': 'Kuah Ayam Bawang'}
{'_id': ObjectId('6725f80c5915bfb674e7758e'), 'name': 'Indomie Goreng Rendang', 'brand': 'Indomie', 'price': 3500, 'flavor': 'Goreng Rendang'}
{'_id': ObjectId('6725f80c5915bfb674e7758f'), 'name': 'Mie Sedaap Kari Ayam', 'brand': 'Mie Sedaap', 'price': 3300, 'flavor': 'Kuah Kari Ayam'}
{'_id': ObjectId('6725f80c5915bfb674e77590'), 'name': 'Supermi Ayam Bawang', 'brand': 'Supermi', 'price': 3000, 'flavor': 'Kuah Ayam Bawang'}
{'_id': ObjectId('6725f80c5915bfb674e77591'), 'name': 'Indomie Goreng Sambal Matah', 'brand': 'Indomie', 'price': 3500, 'flavor': 'Goreng Sambal Matah'}
{'_id': ObjectId('6725f80c5915bfb674e77592'), 'name': 'Sarimi Ayam Bawang', 'brand': 'Sarimi', 'price': 2800, 'flavor': 'Kuah Ayam Bawang'}
{'_id': ObjectId('6725f80c5915bfb674e77593'), 'name': 'Indomie Soto Mie', 'brand': 'Indomie', 'price': 3000, 'flavor': 'Kuah Soto'}
{'_id': ObjectId('6725f80c5915bfb674e77594'), 'name': 'Mie Sedaap Goreng Ayam', 'brand': 'Mie Sedaap', 'price': 3200, 'flavor': 'Goreng Ayam'}
{'_id': ObjectId('6725f80c5915bfb674e77595'), 'name': 'Indomie Kari Ayam', 'brand': 'Indomie', 'price': 3000, 'flavor': 'Kuah Kari Ayam'}
{'_id': ObjectId('6725f80c5915bfb674e77596'), 'name': 'Supermi Soto Ayam', 'brand': 'Supermi', 'price': 3100, 'flavor': 'Kuah Soto Ayam'}
{'_id': ObjectId('6725f83f5915bfb674e77598'), 'name': 'Indomie Sedap', 'brand': 'Indomie', 'price': 3000, 'flavor': 'Goreng'}
{'_id': ObjectId('6725f83f5915bfb674e77599'), 'name': 'Indomie Ayam Bawang', 'brand': 'Indomie', 'price': 3000, 'flavor': 'Kuah Ayam Bawang'}
{'_id': ObjectId('6725f83f5915bfb674e7759a'), 'name': 'Mie Sedaap Ayam Bawang', 'brand': 'Mie Sedaap', 'price': 3200, 'flavor': 'Kuah Ayam Bawang'}
{'_id': ObjectId('6725f83f5915bfb674e7759b'), 'name': 'Indomie Goreng Rendang', 'brand': 'Indomie', 'price': 3500, 'flavor': 'Goreng Rendang'}
{'_id': ObjectId('6725f83f5915bfb674e7759c'), 'name': 'Mie Sedaap Kari Ayam', 'brand': 'Mie Sedaap', 'price': 3300, 'flavor': 'Kuah Kari Ayam'}
{'_id': ObjectId('6725f83f5915bfb674e7759d'), 'name': 'Supermi Ayam Bawang', 'brand': 'Supermi', 'price': 3000, 'flavor': 'Kuah Ayam Bawang'}
{'_id': ObjectId('6725f83f5915bfb674e7759e'), 'name': 'Indomie Goreng Sambal Matah', 'brand': 'Indomie', 'price': 3500, 'flavor': 'Goreng Sambal Matah'}
{'_id': ObjectId('6725f83f5915bfb674e7759f'), 'name': 'Sarimi Ayam Bawang', 'brand': 'Sarimi', 'price': 2800, 'flavor': 'Kuah Ayam Bawang'}
{'_id': ObjectId('6725f83f5915bfb674e775a0'), 'name': 'Indomie Soto Mie', 'brand': 'Indomie', 'price': 3000, 'flavor': 'Kuah Soto'}
{'_id': ObjectId('6725f83f5915bfb674e775a1'), 'name': 'Mie Sedaap Goreng Ayam', 'brand': 'Mie Sedaap', 'price': 3200, 'flavor': 'Goreng Ayam'}
{'_id': ObjectId('6725f83f5915bfb674e775a2'), 'name': 'Indomie Kari Ayam', 'brand': 'Indomie', 'price': 3000, 'flavor': 'Kuah Kari Ayam'}
{'_id': ObjectId('6725f83f5915bfb674e775a3'), 'name': 'Supermi Soto Ayam', 'brand': 'Supermi', 'price': 3100, 'flavor': 'Kuah Soto Ayam'}
Rata-rata harga: 3133.3333333333335
Produk dengan harga di atas rata-rata:
{'_id': ObjectId('6725f80c5915bfb674e7758d'), 'name': 'Mie Sedaap Ayam Bawang', 'brand': 'Mie Sedaap', 'price': 3200, 'flavor': 'Kuah Ayam Bawang'}
{'_id': ObjectId('6725f80c5915bfb674e7758e'), 'name': 'Indomie Goreng Rendang', 'brand': 'Indomie', 'price': 3500, 'flavor': 'Goreng Rendang'}
{'_id': ObjectId('6725f80c5915bfb674e7758f'), 'name': 'Mie Sedaap Kari Ayam', 'brand': 'Mie Sedaap', 'price': 3300, 'flavor': 'Kuah Kari Ayam'}
{'_id': ObjectId('6725f80c5915bfb674e77591'), 'name': 'Indomie Goreng Sambal Matah', 'brand': 'Indomie', 'price': 3500, 'flavor': 'Goreng Sambal Matah'}
{'_id': ObjectId('6725f80c5915bfb674e77594'), 'name': 'Mie Sedaap Goreng Ayam', 'brand': 'Mie Sedaap', 'price': 3200, 'flavor': 'Goreng Ayam'}
{'_id': ObjectId('6725f83f5915bfb674e7759a'), 'name': 'Mie Sedaap Ayam Bawang', 'brand': 'Mie Sedaap', 'price': 3200, 'flavor': 'Kuah Ayam Bawang'}
{'_id': ObjectId('6725f83f5915bfb674e7759b'), 'name': 'Indomie Goreng Rendang', 'brand': 'Indomie', 'price': 3500, 'flavor': 'Goreng Rendang'}
{'_id': ObjectId('6725f83f5915bfb674e7759c'), 'name': 'Mie Sedaap Kari Ayam', 'brand': 'Mie Sedaap', 'price': 3300, 'flavor': 'Kuah Kari Ayam'}
{'_id': ObjectId('6725f83f5915bfb674e7759e'), 'name': 'Indomie Goreng Sambal Matah', 'brand': 'Indomie', 'price': 3500, 'flavor': 'Goreng Sambal Matah'}
{'_id': ObjectId('6725f83f5915bfb674e775a1'), 'name': 'Mie Sedaap Goreng Ayam', 'brand': 'Mie Sedaap', 'price': 3200, 'flavor': 'Goreng Ayam'}
Total produk dalam setiap kategori flavor:
Flavor: Kuah Ayam Bawang, Total Produk: 8
Flavor: Goreng Ayam, Total Produk: 2
Flavor: Kuah Soto Ayam, Total Produk: 2
Flavor: Goreng, Total Produk: 2
Flavor: Goreng Sambal Matah, Total Produk: 2
Flavor: Kuah Kari Ayam, Total Produk: 4
Flavor: Goreng Rendang, Total Produk: 2
Flavor: Kuah Soto, Total Produk: 2

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [ ]:
#reset
collection.delete_many({})

DeleteResult({'n': 12, 'electionId': ObjectId('7fffffff00000000000000e2'), 'opTime': {'ts': Timestamp(1730284097, 16), 't': 226}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1730284097, 17), 'signature': {'hash': b'E\xfc\xe2\xca\x11\x82\x08\xc9\xc7\x8b>\x06\xe1#\xc3\xd7p.c\x1c', 'keyId': 7374051800296456194}}, 'operationTime': Timestamp(1730284097, 16)}, acknowledged=True)

In [ ]:
db = client['company_db']
employee_collection = db['karyawan']
data_karyawan = [
    {'name': 'Sadino', 'department': 'Finance', 'age': 29, 'salary': 5000},
    {'name': 'Rusdi', 'department': 'Finance', 'age': 35, 'salary': 7000},
    {'name': 'Dian', 'department': 'IT', 'age': 28, 'salary': 6000},
    {'name': 'Fatkur', 'department': 'IT', 'age': 24, 'salary': 6500},
    {'name': 'Eve', 'department': 'Marketing', 'age': 27, 'salary': 5500},
    {'name': 'Frank', 'department': 'Marketing', 'age': 33, 'salary': 6200},
    {'name': 'Grace', 'department': 'HR', 'age': 30, 'salary': 5200},
    {'name': 'Bruno', 'department': 'HR', 'age': 26, 'salary': 4800},
    {'name': 'Lani', 'department': 'Finance', 'age': 40, 'salary': 7500},
    {'name': 'Jack', 'department': 'IT', 'age': 31, 'salary': 7000},
    {'name': 'Kate', 'department': 'Marketing', 'age': 29, 'salary': 5800},
    {'name': 'Leo', 'department': 'HR', 'age': 25, 'salary': 5000},
    {'name': 'Mona', 'department': 'Finance', 'age': 24, 'salary': 5200},
    {'name': 'Nina', 'department': 'IT', 'age': 27, 'salary': 6600},
    {'name': 'Oscar', 'department': 'Marketing', 'age': 32, 'salary': 6300}
]
employee_collection.insert_many(data_karyawan)
print("Data karyawan berhasil dimasukkan")

# Menghapus karyawan yang berusia di bawah 25 tahun
delete_result = employee_collection.delete_many({'age': {'$lt': 25}})
print(f"Jumlah karyawan yang dihapus: {delete_result.deleted_count}")

Data karyawan berhasil dimasukkan
Jumlah karyawan yang dihapus: 2

In [ ]:
# Aggregation pipeline untuk laporan ringkas
pipeline = [
    {'$group': {
        '_id': '$department',
        'totalSalary': {'$sum': '$salary'},
        'averageAge': {'$avg': '$age'}
    }}
]

#pipeline
report = employee_collection.aggregate(pipeline)

# Cetak hasil laporan
print("Laporan Ringkas:")
for department in report:
    print(f"Departemen: {department['_id']}")
    print(f"  - Total Gaji: {department['totalSalary']}")
    print(f"  - Rata-rata Umur: {department['averageAge']:.2f}")

Laporan Ringkas:
Departemen: Finance
  - Total Gaji: 19500
  - Rata-rata Umur: 34.67
Departemen: IT
  - Total Gaji: 19600
  - Rata-rata Umur: 28.67
Departemen: Marketing
  - Total Gaji: 23800
  - Rata-rata Umur: 30.25
Departemen: HR
  - Total Gaji: 15000
  - Rata-rata Umur: 27.00